<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <material name="white">
   <color rgba="1 1 1 1"/>
  </material>

<xacro:macro name="end-effector" params="parent name *origin">

    <link name="${name}">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://applications/meshes/${name}.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="white"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
           <mesh filename="package://applications/meshes/${name}.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
      <inertial>
        <mass value="0"/>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <inertia
            ixx="0"
            ixy="0"
            ixz="0"
            iyy="0"
            iyz="0"
            izz="0"
        />
      </inertial>
    </link>

    <joint name="${parent}-${name}" type="fixed">
       <origin xyz="0 0 0" rpy="0 0 0" />    
      <parent link="${parent}"/>
      <child link="${name}"/>
    </joint>
    
    <link name="tcp"/>
    
    <joint name="${name}-tcp" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${name}"/>
      <child link="tcp"/>
    </joint>
</xacro:macro>




</robot>